* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background: linear-gradient(#af67e9, #6565e7);
  background-repeat: no-repeat;
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
}

.outerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}
.outerWrapper .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  width: 1200px;
  height: 80vh;
  margin-top: 100px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 13px 12px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 13px 12px 1px rgba(0, 0, 0, 0.3);
}
.outerWrapper .wrapper .img-container {
  width: 50%;
  height: 100%;
  background-image: url("/images/bg-pattern-desktop.svg"), url("/images/illustration-woman-online-desktop.svg");
  background-repeat: no-repeat;
  background-position-x: -191px, -111px;
  background-position-y: -22px, 91px;
  background-size: 700px, 100%;
}
.outerWrapper .wrapper .img-container .img-img {
  display: none;
}
.outerWrapper .wrapper .img-container .box-img {
  position: absolute;
  left: 77px;
  top: 410px;
}
.outerWrapper .wrapper .question-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  padding-right: 95px;
}
.outerWrapper .wrapper .question-container h1 {
  margin-bottom: 30px;
  font-size: 40px;
}
.outerWrapper .wrapper .question-container .question-form {
  margin-bottom: 30px;
}
.outerWrapper .wrapper .question-container .question-form .question {
  border-bottom: 0.1vw solid #000;
}
.outerWrapper .wrapper .question-container .question-form .question .question-btn {
  background-color: white;
  color: #4a4b5e;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
}
.outerWrapper .wrapper .question-container .question-form .question .active,
.outerWrapper .wrapper .question-container .question-form .question .question-btn:hover {
  color: black;
}
.outerWrapper .wrapper .question-container .question-form .question .active img,
.outerWrapper .wrapper .question-container .question-form .question .question-btn:hover img {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}
.outerWrapper .wrapper .question-container .question-form .question .panel-container {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  width: 100%;
}
.outerWrapper .wrapper .question-container .question-form .question .panel-container p {
  height: 100%;
  padding: 10px;
  color: #787887;
}

@media (max-width: 500px) {
  .outerWrapper {
    height: 100%;
    padding: 20px;
  }
  .outerWrapper .wrapper {
    width: 95%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outerWrapper .wrapper .img-container {
    display: block;
    width: 100%;
    background-size: 80%;
    background-image: none;
  }
  .outerWrapper .wrapper .img-container .img-img {
    display: block;
    width: 60%;
    position: absolute;
    top: 17px;
    left: 77px;
  }
  .outerWrapper .wrapper .img-container .box-img {
    position: relative;
    top: -37px;
    left: 50px;
    width: 25%;
  }
  .outerWrapper .wrapper .question-container {
    width: 100%;
    padding: 20px;
  }
  .outerWrapper .wrapper .question-container h1 {
    text-align: center;
  }
}
/*# sourceMappingURL=styles.css.map */